.what_is {
       /* height: 60rem;
        */
       padding: 10%;
       width: 100%;
       position: relative;

}

.what_is_content {
       height: 48rem;
       width: 100%;
       /* padding-top: 5rem; */
       display: flex;
       flex-direction: column;
       align-items: center;
       /* justify-content: center; */

}

.what_is_content>h1 {
       margin-bottom: 4rem;
       position: relative;
       color: #202125;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
}

.what_is_content>h1>span::after {
       position: absolute;
       content: "";
       height: 17px;
       width: 225px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-99%, 0);
}

.what_is_content>p {
       color: #000;
       font-family: Poppins;
       font-size: 1.5625rem;
       font-style: normal;
       font-weight: 300;
       line-height: normal;
}

.meet_the_founder {
       display: flex;
       justify-content: space-around;
       align-items: center;
       border-radius: 2.5rem;
       border: 11px solid #202125;
       background: #FFF;
       height: 30rem;
       width: 90%;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       bottom: -15rem;
       z-index: 5;
}

.meet_the_founder>img {
       width: 18rem;
       height: 18rem;
       flex-shrink: 0;
       border-radius: 50%;
       margin-right: 4rem;
       margin-left: 9rem;
}

.founder_conent>h1 {
       color: #202125;
       /* text-align: center; */
       font-family: Poppins;
       font-size: 2.75569rem;
       font-style: normal;
       font-weight: 500;
       line-height: 125%;
       /* 3.44463rem */
}

.founder_conent>p {
       color: #000;
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 300;
       line-height: 174.5%;
       /* 2.18125rem */
}

@media (min-width:1200px) and (max-width: 1400px) {}

@media (min-width:1000px) and (max-width: 1200px) {
       .what_is_content {
              height: 40rem;
       }

       .what_is_content>h1 {
              margin-bottom: 4rem;
              font-size: 2.2rem;
       }

       .what_is_content>h1>span::after {
              height: 17px;
              width: 225px;
              bottom: 5%;
       }

       .what_is_content>p {
              font-size: 1.1rem;
       }

       .meet_the_founder {
              height: 30rem;
              width: 90%;
              bottom: -15rem;
       }

       .meet_the_founder>img {
              width: 18rem;
              height: 18rem;
              margin-right: 4rem;
              margin-left: 4rem;
       }

       .founder_conent>h1 {
              font-size: 1.8rem;
       }

       .founder_conent>p {
              font-size: 1rem;
       }
}

@media (min-width:800px) and (max-width: 1000px) {
       .what_is_content {
              height: 40rem;
       }

       .what_is_content>h1 {
              margin-bottom: 4rem;
              font-size: 2.2rem;
       }

       .what_is_content>h1>span::after {
              height: 17px;
              width: 225px;
              bottom: 5%;
       }

       .what_is_content>p {
              font-size: 1.1rem;
       }

       .meet_the_founder {
              height: 30rem;
              width: 90%;
              bottom: -15rem;
       }

       .meet_the_founder>img {
              width: 18rem;
              height: 18rem;
              margin-right: 2rem;
              margin-left: 2rem;
       }

       .founder_conent>h1 {
              font-size: 1.8rem;
       }

       .founder_conent>p {
              font-size: 1rem;
       }
}

@media (min-width:600px) and (max-width: 800px) {
       .what_is_content {
              height: 34rem;
       }

       .what_is_content>h1 {
              margin-bottom: 4rem;
              font-size: 2rem;
       }

       .what_is_content>h1>span::after {
              height: 17px;
              width: 225px;
              bottom: 5%;
       }

       .what_is_content>p {
              font-size: 0.8rem;
       }

       .meet_the_founder {
              height: 26rem;
              width: 90%;
              bottom: -13rem;
       }

       .meet_the_founder>img {
              width: 11rem;
              height: 11rem;
              margin-right: 1rem;
              margin-left: 1rem;
       }

       .founder_conent>h1 {
              font-size: 1.5rem;
       }

       .founder_conent>p {
              font-size: 0.8rem;
       }
}

@media (min-width:400px) and (max-width: 600px) {
       .what_is_content {
              height: 28rem;
       }

       .what_is_content>h1 {
              margin-bottom: 4rem;
              font-size: 1.5rem;
       }

       .what_is_content>h1>span::after {
              height: 17px;
              width: 225px;
              bottom: 5%;
       }

       .what_is_content>p {
              font-size: 0.6rem;
       }

       .meet_the_founder {
              height: 20rem;
              width: 90%;
              bottom: -10rem;
       }

       .meet_the_founder>img {
              width: 7rem;
              height: 7rem;
              margin-right: 0.5rem;
              margin-left: 0.5rem;
       }

       .founder_conent>h1 {
              font-size: 1rem;
       }

       .founder_conent>p {
              font-size: 0.6rem;
       }
}

@media (min-width:300px) and (max-width: 400px) {
       .what_is_content {
              height: 28rem;
       }

       .what_is_content>h1 {
              margin-bottom: 4rem;
              font-size: 1.5rem;
       }

       .what_is_content>h1>span::after {
              height: 17px;
              width: 225px;
              bottom: 5%;
       }

       .what_is_content>p {
              font-size: 0.6rem;
       }

       .meet_the_founder {
              height: 16rem;
              width: 90%;
              bottom: -8rem;
       }

       .meet_the_founder>img {
              width: 5rem;
              height: 5rem;
              margin-right: 0.5rem;
              margin-left: 0.5rem;
       }

       .founder_conent>h1 {
              font-size: 0.8rem;
       }

       .founder_conent>p {
              font-size: 0.5rem;
       }
}